{
  "openapi": "3.1.0",
  "info": {
    "title": "CamposCloud API Documentation",
    "description": "This documentation provides an overview of the CamposCloud API, including authentication, endpoints, and data structures. It is designed to help developers integrate with the CamposCloud platform effectively.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.camposcloud.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/users/@me": {
      "get": {
        "description": "Returns the user information for the authenticated user",
        "responses": {
          "200": {
            "description": "User response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/download": {
      "get": {
        "description": "Downloads a file from an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to download the file from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "The path of the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded successfully",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized – user not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found – application or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "description": "Returns information about a specific application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDataWithTeam"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "description": "Returns a list of applications for the authenticated user, with optional pagination and filtering by team",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (for pagination)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "team",
            "in": "query",
            "description": "Filter applications by team ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of applications response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApplicationDataQuery" }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/v1/apps/create": {
      "post": {
        "description": "Creates a new application",
        "requestBody": {
          "description": "Application data to create",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Application created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDataCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/start": {
      "post": {
        "description": "Starts an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to start",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDataChangeStatus"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/stop": {
      "post": {
        "description": "Stops an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to stop",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application stopped successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDataChangeStatus"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/restart": {
      "post": {
        "description": "Restarts an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to restart",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application restarted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationDataChangeStatus"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/delete": {
      "delete": {
        "description": "Deletes an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Application deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/update": {
      "post": {
        "description": "Updates an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Application data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApplication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Application updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationData"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/files": {
      "get": {
        "description": "Retrieves the files of an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to retrieve files from",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "The path within the application to retrieve files from. If not provided, retrieves files from the root directory.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes files from an application by its ID",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to delete files from",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "List of file paths to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": { "type": "string" }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Files deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "failed": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/upload": {
      "post": {
        "description": "Uploads a file to the specified application",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "description": "ID of the application to upload the file to",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": false,
            "description": "The path within the application where the file will be uploaded. If not provided, the file will be uploaded to the root directory of the application.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "File to upload",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "message": { "type": "string" } } }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "404": {
            "description": "Application not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "required": [
          "_id",
          "name",
          "isEmail2FAEnabled",
          "hasClaimedFreePlan"
        ],
        "type": "object",
        "properties": {
          "_id": {
            "description": "The unique identifier of the user",
            "type": "string",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "name": {
            "description": "The user name",
            "type": "string",
            "example": "John Doe"
          },
          "isEmail2FAEnabled": {
            "description": "Indicates if the user has enabled email two-factor authentication",
            "type": "boolean",
            "example": true
          },
          "hasClaimedFreePlan": {
            "description": "Indicates if the user has claimed the free plan",
            "type": "boolean",
            "example": false
          },
          "activeSessions": {
            "description": "List of active sessions for the user",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [{
              "id": "60c72b2f9b1e8d001c8e4f3b",
              "device": "Desktop",
              "ip": "192.168.0.101",
              "browser": "Chrome",
              "lastActive": "2025-07-18T23:49:19.701Z"
            }]
          }
        }
      },
      "ApplicationDataCreatedResponse": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "containerId": {
            "type": "string",
            "description": "The unique identifier of the container",
            "example": "da886ad3-88e9-4012-b893-130e87f6b747"
          },
          "teamId": {
            "type": ["string", "null"],
            "description": "The unique identifier of the team associated with the application",
            "example": "60c72b2f9b1e8d001c8e4f3b"
          },
          "restartRequired": {
            "type": "boolean",
            "description": "Indicates if a restart is required for the application",
            "example": false
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the user who owns the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "name": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "allocatedMemoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "allocatedVCpu": {
            "type": "integer",
            "format": "int32",
            "description": "The number of virtual CPUs allocated to the application",
            "example": 8
          },
          "workerNodeId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the worker node",
                "example": "60c72b2f9b1e8d001c8e4f3c"
              },
              "nodeName": {
                "type": "string",
                "description": "The name of the worker node",
                "example": "ODIN"
              }
            }
          },
          "containerImage": {
            "type": "string",
            "description": "The Docker image used for the application",
            "example": "kevencampos/camposcloud-python"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "example": false
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": "python -u index.py"
          },
          "installDependenciesCmd": {
            "type": "string",
            "description": "The command used to install dependencies for the application",
            "example": "pip install -r requirements.txt"
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python"
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "example": false
          },
          "status": {
            "type": "string",
            "description": "The current status of the application",
            "example": "active"
          },
          "environmentVariables": {
            "type": "array",
            "description": "List of environment variables set for the application",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The name of the environment variable",
                  "example": "API_PORT"
                },
                "value": {
                  "type": "string",
                  "description": "The value of the environment variable",
                  "example": "3005"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the environment variable",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created",
            "example": "2025-07-19T00:02:54.455Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated",
            "example": "2025-07-19T17:57:05.069Z"
          },
          "externalPort": {
            "type": ["integer", "null"],
            "description": "The external port exposed by the application, null if the application is not exposed via the web"
          },
          "assignedCustomDomain": {
            "type": ["string", "null"],
            "description": "The custom domain assigned to the application, null if no custom domain is assigned",
            "example": "myapp.domain.com"
          }
        }
      },
      "ApplicationDataChangeStatus": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "containerId": {
            "type": "string",
            "description": "The unique identifier of the container",
            "example": "da886ad3-88e9-4012-b893-130e87f6b747"
          },
          "teamId": {
            "type": ["object", "null"],
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the team associated with the application",
                "example": "60c72b2f9b1e8d001c8e4f3b"
              },
              "name": {
                "type": "string",
                "description": "The name of the team associated with the application",
                "example": "My Team"
              },
              "owner": {
                "type": "string",
                "description": "The unique identifier of the user who owns the team associated with the application",
                "example": "60c72b2f9b1e8d001c8e4f3a"
              },
              "members": {
                "type": "array",
                "description": "The list of members in the team associated with the application",
                "items": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "string",
                      "description": "The unique identifier of the user who is a member of the team associated with the application",
                      "example": "60c72b2f9b1e8d001c8e4f3a"
                    },
                    "permissions": {
                      "type": "object",
                      "description": "List of permissions assigned to the team member",
                      "properties": {
                        "canCreateApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can create applications in the team",
                          "example": true
                        },
                        "canDeleteApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can delete applications in the team",
                          "example": false
                        },
                        "canUpdateApplicationSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update application settings in the team",
                          "example": true
                        },
                        "canChangeStatusApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can change application status in the team",
                          "example": false
                        },
                        "canManageApplicationBackup": {
                          "type": "boolean",
                          "description": "Define if the team member can manage application backups in the team",
                          "example": true
                        },
                        "canEditApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can edit application files in the team",
                          "example": true
                        },
                        "canSeeApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can see application files in the team",
                          "example": true
                        },
                        "canDeleteApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can delete application files in the team",
                          "example": false
                        },
                        "canCreateDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can create databases in the team",
                          "example": true
                        },
                        "canDeleteDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can delete databases in the team",
                          "example": false
                        },
                        "canUpdateDatabaseSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update database settings in the team",
                          "example": true
                        },
                        "canChangeStatusDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can change database status in the team",
                          "example": false
                        }
                      }
                    },
                    "_id": {
                      "type": "string",
                      "description": "The unique identifier of the team member",
                      "example": "60c72b2f9b1e8d001c8e4f3e"
                    }
                  }
                }
              },
              "invites": {
                "type": "array",
                "description": "The list of invites to the team associated with the application",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The email of the invited user to the team associated with the application",
                      "example": "keven@camposcloud.com"
                    },
                    "userId": {
                      "type": "string",
                      "description": "The unique identifier of the invited user to the team associated with the application, null if the user has not created an account yet",
                      "example": "60c72b2f9b1e8d001c8e4f3f"
                    },
                    "invitedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when the user was invited to the team associated with the application",
                      "example": "2025-07-18T23:49:19.701Z"
                    },
                    "code": {
                      "type": "string",
                      "description": "The unique code associated with the invite to the team associated with the application, used for accepting the invite",
                      "example": "8qq6no5kw39"
                    },
                    "permissions": {
                      "type": "object",
                      "description": "List of permissions assigned to the team member",
                      "properties": {
                        "canCreateApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can create applications in the team",
                          "example": true
                        },
                        "canDeleteApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can delete applications in the team",
                          "example": false
                        },
                        "canUpdateApplicationSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update application settings in the team",
                          "example": true
                        },
                        "canChangeStatusApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can change application status in the team",
                          "example": false
                        },
                        "canManageApplicationBackup": {
                          "type": "boolean",
                          "description": "Define if the team member can manage application backups in the team",
                          "example": true
                        },
                        "canEditApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can edit application files in the team",
                          "example": true
                        },
                        "canSeeApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can see application files in the team",
                          "example": true
                        },
                        "canDeleteApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can delete application files in the team",
                          "example": false
                        },
                        "canCreateDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can create databases in the team",
                          "example": true
                        },
                        "canDeleteDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can delete databases in the team",
                          "example": false
                        },
                        "canUpdateDatabaseSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update database settings in the team",
                          "example": true
                        },
                        "canChangeStatusDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can change database status in the team",
                          "example": false
                        }
                      }
                    },
                    "_id": {
                      "type": "string",
                      "description": "The unique identifier of the team invite",
                      "example": "60c72b2f9b1e8d001c8e4f3g"
                    },
                    "subscriptionEndsAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when the subscription associated with the invite to the team ends, null if the invite does not have a subscription or if the subscription does not have an end date",
                      "example": "2025-08-18T23:49:19.701Z"
                    }
                  }
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the team associated with the application was created",
                "example": "2025-07-18T23:49:19.701Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the team associated with the application was last updated",
                "example": "2025-07-19T17:57:05.069Z"
              }
            }
          },
          "restartRequired": {
            "type": "boolean",
            "description": "Indicates if a restart is required for the application",
            "example": false
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the user who owns the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "name": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "allocatedMemoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "allocatedVCpu": {
            "type": "integer",
            "format": "int32",
            "description": "The number of virtual CPUs allocated to the application",
            "example": 8
          },
          "workerNodeId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the worker node",
                "example": "60c72b2f9b1e8d001c8e4f3c"
              },
              "nodeName": {
                "type": "string",
                "description": "The name of the worker node",
                "example": "ODIN"
              }
            }
          },
          "containerImage": {
            "type": "string",
            "description": "The Docker image used for the application",
            "example": "kevencampos/camposcloud-python"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "example": false
          },
          "internalPort": {
            "type": ["integer", "null"],
            "format": "int32",
            "description": "The internal port used by the application",
            "example": 3000
          },
          "assignedSubdomain": {
            "type": ["string", "null"],
            "description": "The subdomain assigned to the application, null if no subdomain is assigned",
            "example": "myapp"
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": "python -u index.py"
          },
          "installDependenciesCmd": {
            "type": "string",
            "description": "The command used to install dependencies for the application",
            "example": "pip install -r requirements.txt"
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python"
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "example": false
          },
          "status": {
            "type": "string",
            "description": "The current status of the application",
            "example": "active"
          },
          "currentResourceMetrics": {
            "type": ["object", "null"],
            "description": "Current resource metrics of the application",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The timestamp when the metrics were recorded"
              },
              "online": {
                "type": "boolean",
                "example": true,
                "description": "Indicates if the application is currently online"
              },
              "uptime": {
                "type": "integer",
                "format": "int64",
                "example": 35980,
                "description": "The uptime of the application in seconds"
              },
              "startedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The date and time when the application was started"
              },
              "cpuUsagePercent": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "The CPU usage of the application as a percentage (0-100)"
              },
              "memoryUsageBytes": {
                "type": "integer",
                "format": "int64",
                "example": 43671552,
                "description": "The memory usage of the application in bytes"
              },
              "memoryLimitBytes": {
                "type": "integer",
                "format": "int64",
                "example": 268435456,
                "description": "The memory limit of the application in bytes"
              },
              "networkRxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228961,
                "description": "The amount of data received by the application over the network in bytes"
              },
              "networkTxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228190,
                "description": "The amount of data sent by the application over the network in bytes"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created",
            "example": "2025-07-19T00:02:54.455Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated",
            "example": "2025-07-19T17:57:05.069Z"
          },
          "githubDeploys": {
            "type": "array",
            "description": "List of GitHub repositories connected to the application for deployment",
            "items": {
              "type": "object",
              "properties": {
                "commitId": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "c505366f3ba913044f65750ab7de60ccbb3d7b5f"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch of the GitHub repository that triggers deployments",
                  "example": "main"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the GitHub deploy configuration",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "description": "The commit message of the latest deployment",
                  "example": "first commit"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the GitHub deploy configuration was created",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the latest commit was made to the connected GitHub repository",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedBy": {
                  "type": "string",
                  "description": "The author of the latest commit to the connected GitHub repository",
                  "example": "Keven Campos"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                },
                "duration": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The duration of the latest deployment in seconds",
                  "example": 120
                }
              }
            }
          },
          "externalPort": {
            "type": ["integer", "null"],
            "description": "The external port exposed by the application, null if the application is not exposed via the web"
          },
          "repository": {
            "type": ["object", "null"],
            "description": "The GitHub repository connected to the application for deployment, null if no repository is connected",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the GitHub repository connected to the application for deployment",
                "example": "my-awesome-repo"
              },
              "owner": {
                "type": "string",
                "description": "The owner of the GitHub repository connected to the application for deployment",
                "example": "KevenCampos"
              },
              "id": {
                "type": "string",
                "description": "The unique identifier of the GitHub repository connected to the application for deployment",
                "example": "12345678923"
              },
              "branch": {
                "type": "string",
                "description": "The branch of the GitHub repository that triggers deployments",
                "example": "main"
              }
            }
          },
          "environmentVariables": {
            "type": "array",
            "description": "List of environment variables set for the application",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The name of the environment variable",
                  "example": "API_PORT"
                },
                "value": {
                  "type": "string",
                  "description": "The value of the environment variable",
                  "example": "3005"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the environment variable",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                }
              }
            }
          }
        }
      },

      "ApplicationData": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "containerId": {
            "type": "string",
            "description": "The unique identifier of the container",
            "example": "da886ad3-88e9-4012-b893-130e87f6b747"
          },
          "teamId": {
            "type": ["string", "null"],
            "description": "The unique identifier of the team associated with the application",
            "example": "60c72b2f9b1e8d001c8e4f3b"
          },
          "restartRequired": {
            "type": "boolean",
            "description": "Indicates if a restart is required for the application",
            "example": false
          },
          "name": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the user who owns the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "allocatedMemoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "allocatedVCpu": {
            "type": "integer",
            "format": "int32",
            "description": "The number of virtual CPUs allocated to the application",
            "example": 8
          },
          "workerNodeId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the worker node",
                "example": "60c72b2f9b1e8d001c8e4f3c"
              },
              "nodeName": {
                "type": "string",
                "description": "The name of the worker node",
                "example": "ODIN"
              }
            }
          },
          "containerImage": {
            "type": "string",
            "description": "The Docker image used for the application",
            "example": "kevencampos/camposcloud-python"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "example": false
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": "python -u index.py"
          },
          "installDependenciesCmd": {
            "type": "string",
            "description": "The command used to install dependencies for the application",
            "example": "pip install -r requirements.txt"
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python"
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "example": false
          },
          "status": {
            "type": "string",
            "description": "The current status of the application",
            "example": "active"
          },
          "currentResourceMetrics": {
            "type": ["object", "null"],
            "description": "Current resource metrics of the application",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The timestamp when the metrics were recorded"
              },
              "online": {
                "type": "boolean",
                "example": true,
                "description": "Indicates if the application is currently online"
              },
              "uptime": {
                "type": "integer",
                "format": "int64",
                "example": 35980,
                "description": "The uptime of the application in seconds"
              },
              "cpuUsagePercent": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "The CPU usage of the application as a percentage (0-100)"
              },
              "memoryUsageBytes": {
                "type": "integer",
                "format": "int64",
                "example": 43671552,
                "description": "The memory usage of the application in bytes"
              },
              "memoryLimitBytes": {
                "type": "integer",
                "format": "int64",
                "example": 268435456,
                "description": "The memory limit of the application in bytes"
              },
              "networkRxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228961,
                "description": "The amount of data received by the application over the network in bytes"
              },
              "networkTxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228190,
                "description": "The amount of data sent by the application over the network in bytes"
              }
            }
          },
          "environmentVariables": {
            "type": "array",
            "description": "List of environment variables set for the application",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The name of the environment variable",
                  "example": "API_PORT"
                },
                "value": {
                  "type": "string",
                  "description": "The value of the environment variable",
                  "example": "3005"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the environment variable",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created",
            "example": "2025-07-19T00:02:54.455Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated",
            "example": "2025-07-19T17:57:05.069Z"
          },
          "githubDeploys": {
            "type": "array",
            "description": "List of GitHub repositories connected to the application for deployment",
            "items": {
              "type": "object",
              "properties": {
                "commitId": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "c505366f3ba913044f65750ab7de60ccbb3d7b5f"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch of the GitHub repository that triggers deployments",
                  "example": "main"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the GitHub deploy configuration",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "description": "The commit message of the latest deployment",
                  "example": "first commit"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the GitHub deploy configuration was created",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the latest commit was made to the connected GitHub repository",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedBy": {
                  "type": "string",
                  "description": "The author of the latest commit to the connected GitHub repository",
                  "example": "Keven Campos"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                },
                "duration": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The duration of the latest deployment in seconds",
                  "example": 120
                }
              }
            }
          },
          "externalPort": {
            "type": ["integer", "null"],
            "description": "The external port exposed by the application, null if the application is not exposed via the web"
          },
          "assignedCustomDomain": {
            "type": ["string", "null"],
            "description": "The custom domain assigned to the application, null if no custom domain is assigned",
            "example": "myapp.domain.com"
          },
          "repository": {
            "type": ["object", "null"],
            "description": "The GitHub repository connected to the application for deployment, null if no repository is connected",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the GitHub repository connected to the application for deployment",
                "example": "my-awesome-repo"
              },
              "owner": {
                "type": "string",
                "description": "The owner of the GitHub repository connected to the application for deployment",
                "example": "KevenCampos"
              },
              "id": {
                "type": "string",
                "description": "The unique identifier of the GitHub repository connected to the application for deployment",
                "example": "12345678923"
              },
              "branch": {
                "type": "string",
                "description": "The branch of the GitHub repository that triggers deployments",
                "example": "main"
              }
            }
          }
        }
      },
      "ApplicationDataQuery": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "currentResourceMetrics": {
            "type": ["object", "null"],
            "description": "Current resource metrics of the application",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The timestamp when the metrics were recorded"
              },
              "online": {
                "type": "boolean",
                "example": true,
                "description": "Indicates if the application is currently online"
              },
              "uptime": {
                "type": "integer",
                "format": "int64",
                "example": 35980,
                "description": "The uptime of the application in seconds"
              },
              "startedAt": {
                "type": ["string", "null"],
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The date and time when the application was started, null if the application is not online"
              },
              "cpuUsagePercent": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "The CPU usage of the application as a percentage (0-100)"
              },
              "memoryUsageBytes": {
                "type": "integer",
                "format": "int64",
                "example": 43671552,
                "description": "The memory usage of the application in bytes"
              },
              "memoryLimitBytes": {
                "type": "integer",
                "format": "int64",
                "example": 268435456,
                "description": "The memory limit of the application in bytes"
              },
              "networkRxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228961,
                "description": "The amount of data received by the application over the network in bytes"
              },
              "networkTxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228190,
                "description": "The amount of data sent by the application over the network in bytes"
              }
            }
          },
          "containerId": {
            "type": "string",
            "description": "The unique identifier of the container",
            "example": "da886ad3-88e9-4012-b893-130e87f6b747"
          },
          "teamId": {
            "type": ["string", "null"],
            "description": "The unique identifier of the team associated with the application",
            "example": "60c72b2f9b1e8d001c8e4f3b"
          },
          "restartRequired": {
            "type": "boolean",
            "description": "Indicates if a restart is required for the application",
            "example": false
          },
          "name": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the user who owns the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "allocatedMemoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "allocatedVCpu": {
            "type": "integer",
            "format": "int32",
            "description": "The number of virtual CPUs allocated to the application",
            "example": 8
          },
          "workerNodeId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the worker node",
                "example": "60c72b2f9b1e8d001c8e4f3c"
              },
              "nodeName": {
                "type": "string",
                "description": "The name of the worker node",
                "example": "ODIN"
              }
            }
          },
          "containerImage": {
            "type": "string",
            "description": "The Docker image used for the application",
            "example": "kevencampos/camposcloud-python"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "example": false
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": "python -u index.py"
          },
          "installDependenciesCmd": {
            "type": "string",
            "description": "The command used to install dependencies for the application",
            "example": "pip install -r requirements.txt"
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python"
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "example": false
          },
          "status": {
            "type": "string",
            "description": "The current status of the application",
            "example": "active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created",
            "example": "2025-07-19T00:02:54.455Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated",
            "example": "2025-07-19T17:57:05.069Z"
          },
          "githubDeploys": {
            "type": "array",
            "description": "List of GitHub repositories connected to the application for deployment",
            "items": {
              "type": "object",
              "properties": {
                "commitId": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "c505366f3ba913044f65750ab7de60ccbb3d7b5f"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch of the GitHub repository that triggers deployments",
                  "example": "main"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the GitHub deploy configuration",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "description": "The commit message of the latest deployment",
                  "example": "first commit"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the GitHub deploy configuration was created",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the latest commit was made to the connected GitHub repository",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedBy": {
                  "type": "string",
                  "description": "The author of the latest commit to the connected GitHub repository",
                  "example": "Keven Campos"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                },
                "duration": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The duration of the latest deployment in seconds",
                  "example": 120
                }
              }
            }
          },
          "totalUsedRAM": {
            "type": "integer",
            "format": "int64",
            "description": "The total amount of RAM used by your account or application, if provided.",
            "example": 52428800
          },
          "pagination": {
            "type": "object",
            "properties": {
              "totalItems": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of applications matching the query",
                "example": 100
              },
              "totalPages": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of pages available based on the limit",
                "example": 10
              },
              "currentPage": {
                "type": "integer",
                "format": "int32",
                "description": "The current page number",
                "example": 1
              },
              "itemsPerPage": {
                "type": "integer",
                "format": "int32",
                "description": "The number of applications returned per page",
                "example": 10
              },
              "hasNextPage": {
                "type": "boolean",
                "description": "Indicates if there is a next page available",
                "example": false
              },
              "hasPrevPage": {
                "type": "boolean",
                "description": "Indicates if there is a previous page available",
                "example": false
              }
            }
          }
        }
      },
      "ApplicationDataWithTeam": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "containerId": {
            "type": "string",
            "description": "The unique identifier of the container",
            "example": "da886ad3-88e9-4012-b893-130e87f6b747"
          },
          "teamId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the team associated with the application",
                "example": "60c72b2f9b1e8d001c8e4f3b"
              },
              "name": {
                "type": "string",
                "description": "The name of the team associated with the application",
                "example": "My Team"
              },
              "owner": {
                "type": "string",
                "description": "The owner id of the team associated with the application",
                "example": "60c72b2f9b1e8d001c8e4f3a"
              },
              "members": {
                "type": "array",
                "description": "List of members in the team associated with the application",
                "items": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "string",
                      "description": "The user id of the team member",
                      "example": "60c72b2f9b1e8d001c8e4f3a"
                    },
                    "permissions": {
                      "type": "object",
                      "description": "List of permissions assigned to the team member",
                      "properties": {
                        "canCreateApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can create applications in the team",
                          "example": true
                        },
                        "canDeleteApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can delete applications in the team",
                          "example": false
                        },
                        "canUpdateApplicationSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update application settings in the team",
                          "example": true
                        },
                        "canChangeStatusApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can change application status in the team",
                          "example": false
                        },
                        "canManageApplicationBackup": {
                          "type": "boolean",
                          "description": "Define if the team member can manage application backups in the team",
                          "example": true
                        },
                        "canEditApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can edit application files in the team",
                          "example": true
                        },
                        "canSeeApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can see application files in the team",
                          "example": true
                        },
                        "canDeleteApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can delete application files in the team",
                          "example": false
                        },
                        "canCreateDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can create databases in the team",
                          "example": true
                        },
                        "canDeleteDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can delete databases in the team",
                          "example": false
                        },
                        "canUpdateDatabaseSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update database settings in the team",
                          "example": true
                        },
                        "canChangeStatusDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can change database status in the team",
                          "example": false
                        }
                      }
                    },
                    "_id": {
                      "type": "string",
                      "description": "The unique identifier of the team member",
                      "example": "60c72b2f9b1e8d001c8e4f3a"
                    }
                  }
                }
              },
              "invites": {
                "type": "array",
                "description": "List of pending invites for the team associated with the application",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The email of the pending invite",
                      "example": "keven@camposcloud.com"
                    },
                    "userId": {
                      "type": "string",
                      "description": "The user id of the pending invite, null if the invite has not been accepted yet",
                      "example": "60c72b2f9b1e8d001c8e4f3a"
                    },
                    "invitedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when the invite was sent",
                      "example": "2025-07-19T17:57:05.069Z"
                    },
                    "code": {
                      "type": "string",
                      "description": "The unique code of the invite used to accept the invite",
                      "example": "8qq6no5kw39"
                    },
                    "permissions": {
                      "type": "object",
                      "description": "List of permissions assigned to the team member",
                      "properties": {
                        "canCreateApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can create applications in the team",
                          "example": true
                        },
                        "canDeleteApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can delete applications in the team",
                          "example": false
                        },
                        "canUpdateApplicationSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update application settings in the team",
                          "example": true
                        },
                        "canChangeStatusApplication": {
                          "type": "boolean",
                          "description": "Define if the team member can change application status in the team",
                          "example": false
                        },
                        "canManageApplicationBackup": {
                          "type": "boolean",
                          "description": "Define if the team member can manage application backups in the team",
                          "example": true
                        },
                        "canEditApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can edit application files in the team",
                          "example": true
                        },
                        "canSeeApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can see application files in the team",
                          "example": true
                        },
                        "canDeleteApplicationFiles": {
                          "type": "boolean",
                          "description": "Define if the team member can delete application files in the team",
                          "example": false
                        },
                        "canCreateDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can create databases in the team",
                          "example": true
                        },
                        "canDeleteDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can delete databases in the team",
                          "example": false
                        },
                        "canUpdateDatabaseSettings": {
                          "type": "boolean",
                          "description": "Define if the team member can update database settings in the team",
                          "example": true
                        },
                        "canChangeStatusDatabase": {
                          "type": "boolean",
                          "description": "Define if the team member can change database status in the team",
                          "example": false
                        }
                      }
                    },
                    "_id": {
                      "type": "string",
                      "description": "The unique identifier of the invite",
                      "example": "60c72b2f9b1e8d001c8e4f3a"
                    },
                    "subscriptionEndsAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when the subscription associated with the invite ends, null if the invite does not have a subscription or if the subscription does not have an end date",
                      "example": "2025-07-19T17:57:05.069Z"
                    }
                  }
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the team associated with the application was created",
                "example": "2025-07-19T17:57:05.069Z"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the team associated with the application was last updated",
                "example": "2025-07-19T17:57:05.069Z"
              }
            }
          },
          "restartRequired": {
            "type": "boolean",
            "description": "Indicates if a restart is required for the application",
            "example": false
          },
          "userId": {
            "type": "string",
            "description": "The unique identifier of the user who owns the application",
            "example": "60c72b2f9b1e8d001c8e4f3a"
          },
          "name": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "allocatedMemoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "allocatedVCpu": {
            "type": "integer",
            "format": "int32",
            "description": "The number of virtual CPUs allocated to the application",
            "example": 8
          },
          "workerNodeId": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the worker node",
                "example": "60c72b2f9b1e8d001c8e4f3c"
              },
              "nodeName": {
                "type": "string",
                "description": "The name of the worker node",
                "example": "ODIN"
              }
            }
          },
          "containerImage": {
            "type": "string",
            "description": "The Docker image used for the application",
            "example": "kevencampos/camposcloud-python"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "example": false
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": "python -u index.py"
          },
          "installDependenciesCmd": {
            "type": "string",
            "description": "The command used to install dependencies for the application",
            "example": "pip install -r requirements.txt"
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python"
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "example": false
          },
          "status": {
            "type": "string",
            "description": "The current status of the application",
            "example": "active"
          },
          "currentResourceMetrics": {
            "type": ["object", "null"],
            "description": "Current resource metrics of the application",
            "properties": {
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The timestamp when the metrics were recorded"
              },
              "online": {
                "type": "boolean",
                "example": true,
                "description": "Indicates if the application is currently online"
              },
              "uptime": {
                "type": "integer",
                "format": "int64",
                "example": 35980,
                "description": "The uptime of the application in seconds"
              },
              "startedAt": {
                "type": ["string", "null"],
                "format": "date-time",
                "example": "2025-07-19T17:57:05.069Z",
                "description": "The date and time when the application was started, null if the application is not online"
              },
              "cpuUsagePercent": {
                "type": "number",
                "format": "float",
                "example": 0.0,
                "description": "The CPU usage of the application as a percentage (0-100)"
              },
              "memoryUsageBytes": {
                "type": "integer",
                "format": "int64",
                "example": 43671552,
                "description": "The memory usage of the application in bytes"
              },
              "memoryLimitBytes": {
                "type": "integer",
                "format": "int64",
                "example": 268435456,
                "description": "The memory limit of the application in bytes"
              },
              "networkRxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228961,
                "description": "The amount of data received by the application over the network in bytes"
              },
              "networkTxBytes": {
                "type": "integer",
                "format": "int64",
                "example": 228190,
                "description": "The amount of data sent by the application over the network in bytes"
              }
            }
          },
          "environmentVariables": {
            "type": "array",
            "description": "List of environment variables set for the application",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The name of the environment variable",
                  "example": "API_PORT"
                },
                "value": {
                  "type": "string",
                  "description": "The value of the environment variable",
                  "example": "3005"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the environment variable",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was created",
            "example": "2025-07-19T00:02:54.455Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the application was last updated",
            "example": "2025-07-19T17:57:05.069Z"
          },
          "githubDeploys": {
            "type": "array",
            "description": "List of GitHub repositories connected to the application for deployment",
            "items": {
              "type": "object",
              "properties": {
                "commitId": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "c505366f3ba913044f65750ab7de60ccbb3d7b5f"
                },
                "branch": {
                  "type": "string",
                  "description": "The branch of the GitHub repository that triggers deployments",
                  "example": "main"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the GitHub deploy configuration",
                  "example": "success"
                },
                "message": {
                  "type": "string",
                  "description": "The commit message of the latest deployment",
                  "example": "first commit"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the GitHub deploy configuration was created",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date and time when the latest commit was made to the connected GitHub repository",
                  "example": "2025-07-19T17:57:05.069Z"
                },
                "commitedBy": {
                  "type": "string",
                  "description": "The author of the latest commit to the connected GitHub repository",
                  "example": "Keven Campos"
                },
                "_id": {
                  "type": "string",
                  "description": "The unique identifier of the GitHub deploy configuration",
                  "example": "60c72b2f9b1e8d001c8e4f3d"
                },
                "duration": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The duration of the latest deployment in seconds",
                  "example": 120
                }
              }
            }
          },
          "externalPort": {
            "type": ["integer", "null"],
            "description": "The external port exposed by the application, null if the application is not exposed via the web"
          },
          "assignedCustomDomain": {
            "type": ["string", "null"],
            "description": "The custom domain assigned to the application, null if no custom domain is assigned",
            "example": "myapp.domain.com"
          },
          "repository": {
            "type": ["object", "null"],
            "description": "The GitHub repository connected to the application for deployment, null if no repository is connected",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the GitHub repository connected to the application for deployment",
                "example": "my-awesome-repo"
              },
              "owner": {
                "type": "string",
                "description": "The owner of the GitHub repository connected to the application for deployment",
                "example": "KevenCampos"
              },
              "id": {
                "type": "string",
                "description": "The unique identifier of the GitHub repository connected to the application for deployment",
                "example": "12345678923"
              },
              "branch": {
                "type": "string",
                "description": "The branch of the GitHub repository that triggers deployments",
                "example": "main"
              }
            }
          }
        }
      },
      "CreateApplication": {
        "required": [
          "file",
          "appName",
          "mainFile",
          "memoryMB",
          "runtimeEnvironment"
        ],
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Application file to upload (.zip only!!)"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Application"
          },
          "mainFile": {
            "type": "string",
            "description": "The main file of the application",
            "example": "index.py"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "default": false,
            "example": false
          },
          "memoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "default": false,
            "example": true
          },
          "startupCommand": {
            "type": "string",
            "description": "The command used to start the application",
            "example": ""
          },
          "runtimeEnvironment": {
            "type": "string",
            "description": "The runtime environment of the application",
            "example": "python",
            "enum": [
              "python",
              "nodejs"
            ]
          },
          "team": {
            "type": "string",
            "description": "The unique identifier of the team associated with the application, if you want to create the application in a team",
            "example": "60c72b2f9b1e8d001c8e4f3b"
          }
        }
      },
      "UpdateApplication": {
        "required": [
          "appName",
          "memoryMB",
          "startupCommand",
          "runtimeEnvironment"
        ],
        "type": "object",
        "properties": {
          "appName": {
            "type": "string",
            "description": "The name of the application",
            "example": "My Updated Application"
          },
          "exposedViaWeb": {
            "type": "boolean",
            "description": "Indicates if the application is exposed via the web",
            "default": false,
            "example": false
          },
          "memoryMB": {
            "type": "integer",
            "format": "int32",
            "description": "The amount of memory allocated to the application in MB",
            "example": 256
          },
          "autoRestartEnabled": {
            "type": "boolean",
            "description": "Indicates if auto-restart is enabled for the application",
            "default": false,
            "example": true
          },
          "startupCommand": {
            "type": ["string"],
            "description": "The command used to start the application, null if not updated",
            "example": ""
          },
          "runtimeEnvironment": {
            "type": ["string"],
            "description": "The runtime environment of the application, null if not updated",
            "example": null,
            "enum": [
              null,
              "python",
              "nodejs"
            ]
          }
        }
      },
      "FileList": {
        "type": "object",
        "properties": {
          "isDirectory": {
            "type": "boolean",
            "description": "Indicates if the current path is a directory",
            "example": true
          },
          "content": {
            "type": ["string", "null"],
            "description": "Content of the current file. If the current path is a directory, this will be null."
          },
          "files": {
            "type": ["array" , "null"],
            "description": "List of files and directories in the current path, if the current path is a directory or null if it is a file",
            "items": {
              "$ref": "#/components/schemas/File"
            }
          },
          "prevPath": {
            "type": "string",
            "description": "The previous path in the file system. If the current path is the root directory, this will be null.",
            "example": null
          },
          "currentPath": {
            "type": "string",
            "description": "The current path in the file system",
            "example": "/Database"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the file or directory",
            "example": "emojis.json"
          },
          "isDirectory": {
            "type": "boolean",
            "description": "Indicates if the item is a directory",
            "example": false
          },
          "isFile": {
            "type": "boolean",
            "description": "Indicates if the item is a file",
            "example": true
          },
          "path": {
            "type": "string",
            "description": "The path of the file or directory",
            "example": "/Database/emojis.json"
          },
          "size": {
            "type": ["integer", "null"],
            "description": "The size of the file in bytes, null for directories",
            "example": 3330
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the file or directory was created",
            "example": "2025-07-19T16:02:44.426Z"
          },
          "modifiedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the file or directory was last modified",
            "example": "2025-07-19T16:02:44.426Z"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "Not found"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}